a:link { color:black; text-decoration:none; }
a:visited { color:black; text-decoration:none; }
a:focus { color:black; text-decoration:none; }
a:hover { color:black; text-decoration:none; }
a:active { color:black; text-decoration:none; }

 @font-face {
  font-family: 'Awesome-Font';
  font-style: normal;
  font-weight: 800;
  src: local('Awesome-Font'), local('Awesome-Font-Regular'), url(d-QWLnp4didxos_6urzFtg.woff) format('woff');
}

h3{ position:relative;visibility: hidden; }
h3 span{ position:absolute; top:-160px;visibility: hidden;}

 p {
font-size: 20px;
margin:0 0 20px 12px;
font-family: 'Awesome-Font', Arial;
}
 table, th, td{
 font-size: 14px;
font-family: 'Awesome-Font', Arial;
}
 h1{
 font-size: 18px;
font-family: 'Awesome-Font', Arial;
}


 body { 
 font-family: 'Awesome-Font', Arial;
 background-color:#e7e7e7;
 font-size: 20px;
 background: url(./bg.jpg);
 }
 
  body.navi { 
 font-family: 'Awesome-Font', Arial;
 background-color:#e7e7e7;
 font-size: 16px;

 }
.cover {
padding-left: 40px;
width: auto;
display:inline-block;
-webkit-box-shadow:0 2px 6px 0 rgba(0,0,0,0.3);
box-shadow:0 2px 6px 0 rgba(0,0,0,0.3);
background:#fff;
padding:20px;
margin:0 0 20px 12px;
}

.divGranite{
 font-family: 'Awesome-Font', Arial;
display:inline-block;
-webkit-box-shadow:0 2px 6px 0 rgba(0,0,0,0.3);
box-shadow:0 2px 6px 0 rgba(0,0,0,0.3);
background:#fff;
padding:0;
padding-left: 40px;
margin:0 0 20px 0;
position:relative;
}

.crest {
position: absolute;
top: 30px;
right: 20px;
display: block;
width: 140px;
height: 140px;
text-indent: -9001px;
}

#navigation {
 top: 8px;
padding-left: 40px;
width: 250;
display:inline-block;
-webkit-box-shadow:0 2px 6px 0 rgba(0,0,0,0.3);
box-shadow:0 2px 6px 0 rgba(0,0,0,0.3);
background:#fff;
padding:20px;
margin:0 0 20px 12px;
position:fixed; z-index:2;
}

#artistlist {
  top: 10px;
padding-left: 40px;
width: 250;
display:inline-block;
-webkit-box-shadow:0 2px 6px 0 rgba(0,0,0,0.3);
box-shadow:0 2px 6px 0 rgba(0,0,0,0.3);
background:#fff;
padding:20px;
margin:0 0 20px 12px;
position:relative;
}

#statistics {
 right:10px;
 top:8px;
 min-height: 74px;
padding-left: 40px;
width: 14%;
display:inline-block;
-webkit-box-shadow:0 2px 6px 0 rgba(0,0,0,0.3);
box-shadow:0 2px 6px 0 rgba(0,0,0,0.3);
background:#fff;
padding:20px;
margin:0 0 20px 12px;
position:fixed;
}

#searchartist {
 right:10px;
 top:130px;
padding-left: 40px;
width: 14%;
 min-height: 72px;
display:inline-block;
-webkit-box-shadow:0 2px 6px 0 rgba(0,0,0,0.3);
box-shadow:0 2px 6px 0 rgba(0,0,0,0.3);
background:#fff;
padding:20px;
margin:0 0 20px 12px;
position:fixed;
z-index:2;
}
#playerdiv {
 right:10px;
 top:262px;
padding-left: 40px;
width: 17%;
display:inline-block;
-webkit-box-shadow:0 2px 6px 0 rgba(0,0,0,0.3);
box-shadow:0 2px 6px 0 rgba(0,0,0,0.3);
background:#fff;
padding:20px;
margin:0 0 20px 12px;
position:fixed;
}

#infooben {
padding-left: 40px;
width: 55%;
left: 320px;
min-height: 194px;
top: 8px;
display:inline-block;
-webkit-box-shadow:0 6px 6px 0 rgba(0,0,0,0.3);
box-shadow:0 2px 6px 0 rgba(0,0,0,0.3);
background:#fff;
padding:20px;
margin:0 0 20px 12px;
position:fixed;
}

#login {
padding-left: 40px;
width: 55%;
left: 320px;
min-height: 154px;
top: 8px;
display:inline-block;
-webkit-box-shadow:0 6px 6px 0 rgba(0,0,0,0.3);
box-shadow:0 2px 6px 0 rgba(0,0,0,0.3);
background:#fff;
padding:20px;
margin:0 0 20px 12px;
}
